body{
    background-color: aquamarine;
    background-size: 100% 100%;
    background-attachment: fixed;
}

img{
    width:100%;
}

#logo1{
    background-color: black;
    width: 18%;    
    position: relative;
    display: inline-block;
    border: solid black 4px;  
}

#encabezado{
    background-color: gainsboro;
    width: 58%;
    bottom: 70px;
    left: 10px;
    position: relative;
    display: inline-block;
    margin-left: 1%;
    color: darkslateblue;
}

#login{
    width: 18%;
    margin-top: 1%;
    margin-left: 2.4%;
    position: absolute;
    display: inline-block;    
}

.columna { display: inline-block; float: left; width: 50%; margin: 0; padding: 0; } 
.columna input { display: block; width: 90%; margin: 0 auto; } 

#menu{
    background-color: violet;
    margin-bottom: 2%;
    color: mediumslateblue;
    border: solid black 4px;     
}

#buscar{
    width: 25%;
    margin-bottom: 3%;
    margin-left: 2.4%;
    position: relative;
    display: inline-flex; 
}

#contenido{
    background-color: pink;
    margin-bottom: 2%;
    clear: both;
    width: 99.3%;
    display: inline-block;
    border: solid red 4px; 
}

#logo2{ 
    background-color: powderblue;
    width: 10%;
    margin-top: 5%;
    margin-left: 10%;
    position: relative;
    display: inline-block;    
    color: darkgreen;
    border: solid black 4px;    
}

#texto{
    width: 12%;
    margin-left: 25%;
    position: relative;
    color: midnightblue;
    display: inline-block;
}
#logo3{
    background-color: powderblue;
    width: 10%;
    margin-left: 22%;
    position: relative;
    display: inline-block;
    color: brown;
    border: solid black 4px;
}

#logo4{
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 5%;
    position: relative;
    display: block;
    border: solid black 4px;
}
#pie{
    background-color: lightcoral;
    width: 90%;
    clear: both;
    border: solid brown 10px;
    position: absolute;
    left: 4%;
    right: 4%;
}
#enlaces{
    background-color: darkgray;
    width: 10%;
    position: relative;
    display: table;
    
}